@import url("http://fonts.googleapis.com/earlyaccess/notosanskr.css");
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
$fontFamily: 'Noto Sans KR';
$fontFamilyDoHyeon: 'Do Hyeon', sans-serif;
$fontSize: 1.6rem;
$lineHeight: 1.618;