.detail_visual {
    position: relative;
    width: 100%;
    height: 570px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    .dim {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 0;
        width: 100%;
        height: 100%;
        opacity: 0.5;
        
        background-image: 
        linear-gradient(rgba(255,255,255,.06) 1px, transparent 1px),
        linear-gradient(90deg, rgba(255,255,255,.06) 1px, transparent 1px);
        background-size: 10px 10px, 10px 10px;
        // background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px;
        
    }
    .container {
        position: relative;
        z-index: 2;
        height: 100%;
        display: flex;
        align-items: center;
    }
    .detail_info {
        width: 100%;
        display: grid;
        grid-template-columns: 300px 1fr;
    }
    .movie_img {
        display: inline-block;
        //box-shadow: -12px -8px 10px 0 #333;
        border-radius: 10px;
        overflow: hidden;
    }
    .cont {
        padding-left: 50px;
        h1 {
            display: inline-block;
            color: #fff;
            font-size: 30px;
            font-weight: 500;
        }
        .release_date {
            color:#fff;
            font-size: large;
        }
        .facts {
            color: #fff;
            i {
                margin: 0 10px;
                font-size: 20px;
                font-weight: bold;
                font-style: normal;
            }
        }
        .movie_actions {
            li {

            }

        }
    }
}
.chart {
    width:200px; position:relative;
    div {
        position:absolute; left:0; top:0; width:100%; height:100%; font-size:20px; line-height:100%; display:flex; align-items: center; justify-content: center;
        span {
            color: rgb(255, 99, 132); font-size:12px; line-height:100%; display:flex; align-items: baseline; justify-content: center;
            strong {
                font-size:16px;
            }
        }
    }
    #myChart {
        background-color: black;
    }
}